$desktopSectionWidth: 85%;

$buttonWidth: 170px;
$buttonHeight: 48px;

$navbarPadding: 40px;

$logoMargin: 20px;
$buttonMargin: 16px;
$navbarMargin: 34px;

$margin1: 20px;
$margin2: 120px;
$margin3: 240px;
$margin4: 40px;
