.btn {
  width: $buttonWidth;
  height: $buttonHeight;

  &:hover {
    cursor: pointer;
  }
}

.lightred-btn {
  background-color: $backgroundColor1;
  border: 2px solid $textWhite50;
}

.white-btn {
  background-color: $backgroundColor3;
  border: 3px solid $submitButtonColor;
}

.red-btn {
  background-color: $backgroundColor4;
  border: none;
  border-radius: 3px;
}

.beige-btn {
  background-color: $backgroundColor2;
  border: 1px solid $textPrimary;
}