.first__content__input {
  width: 95%;
  border: 3px solid $textWhite50;
  height: $buttonHeight;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: $margin1;
}

@media (min-width: 539px) {
  .first__content__input {
    width: 270px;
  }
}

@media (min-width: 1060px) {
  .first__content__input {
    width: 270px;
  }
}