.first__navbar {
  display: flex;
  justify-content: space-between;

  &__button {
    display: none;
  }

  &__list {
    display: none;
  }

  &__logo {
    color: $textWhite;
    margin: 0;
  }

  &__image {
    margin: 0;
    cursor: pointer;
    z-index: 2;
  }

  &__close {
    display: none;
  }
}

.open {
  border: 5px solid $backgroundColor5;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: -2%;
  transform: translate(0%, 0%);
  padding: 0;
  background-color: $backgroundColor1;
}

@media (min-width: 1060px) {
  .first__navbar__button {
    display: inline;
  }

  .first__navbar__list {
    display: inline;
  }

  .first__navbar__image {
    display: none;
  }

  .first__navbar {
    width: $desktopSectionWidth;
    margin: 0 auto;
  }
}
